# 📦 Environnement virtuel
.venv*/
venv/
env/

# 🔑 Clés et config
.env

# 🧠 Modèle Whisper
whisper.cpp/

# 🎧 Audios téléchargés et convertis
downloads/
converted/

# 📄 Fichiers générés
articles/generated.md
__pycache__/
*.pyc
*.log

# 🗂️ Fichiers système
.DS_Storewhisper.cpp/
